<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>${title}</title>
  <link rel="stylesheet" href="${clientTopology.staticsBaseUrl}react-client.css">
</head>

<body>
  <div id="react-root"></div>

  <script>
    window.__BASEURL__ = '${basename}';
    window.__LOCALE__ = '${locale}';
    window.__STATICS_BASE_URL__ = '${clientTopology.staticsBaseUrl}';
  </script>
  <script src="${clientTopology.staticsBaseUrl}angular-manifest.bundle.js"></script>
  <script src="${clientTopology.staticsBaseUrl}react-client.bundle.js"></script>
</body>

</html>